
/*
The body will control the placement of calculator in the website
*/

body
{
   width: 400px;
   height: 200px;
   margin: 200px 200px;

}


#calc_body
{
 width: 100%;
 height: 100%;
 background: #01ffaa;
 border-style:solid;
 border-width:5px;
}

input
{
  padding-left: 1%;
  width:25%;
  float:left;
  margin-top: 4%;
  margin-left:4.7%;
  border: solid;

}

select#typeA
{
  width: 40%;
  margin-left: 4.7%;
  margin-top: 4%;
}

select#typeB
{
  width: 40%;
  margin-right: 3.8%;
  margin-top: 4%;
  float:right;
}

img#img_A
{
  width:40%;
  height: 50%;
  margin-left: 4.7%;
  margin-top: 4%;
}

img#img_B
{
  width:40%;
  height: 50%;
  margin-right: 3.8%;
  margin-top: 4%;
  float:right;

}

button
{
  width:410px;

}
